
@{
    ViewBag.Title = "ChemProV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<a href=@Url.Action("Index", "Projects")><button style="background-color:#990000; border-color:#990000;" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to Projects</button></a>
<br /><br />

<h2>ChemProV</h2>

<img src="/Content/Images/thumb-chemprov.png" /><br /><br />
<b>Funding source:</b><br />NSF DLR (no. 0530708), NSF CCLI Phase I (no. 0837828)<br /><br />
<b>Project team:</b><br />Dick Zollars, Chris Hundhausen, Adam Carter, Pawan Agarwal, Simon Gordon
<br /><br />
<h3><b>Overview:</b></h3><br /> The Chemical Process Visualizer (ChemProV) is an educational software environment that supports the construction of process flow diagrams and corresponding material balance equations. As students work, ChemProV generates dynamic feedback messages that alert students to errors in their diagrams and equations, and provide hints on how the errors can be addressed.
<br />
<h3><b>Publications:</b></h3>

<div id="publistdiv" class="publist">Loading publications...</div>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "chemprov";
    target_div = "publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>