
@{
    ViewBag.Title = "OSBLE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<a href=@Url.Action("Index", "Projects")><button style="background-color:#990000; border-color:#990000;" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to Projects</button></a>
<br /><br />

<h2>OSBLE</h2>

<img src="/Content/Images/thumb-osble.png" /><br /><br />   
<b>Funding source:</b><br />NSF CPATH Class I (no. 0721927) and Class II (no. 0939017)<br /><br />
<b>Project team:</b><br />Chris Hundhausen, Pawan Agarwal, Adam Carter, Kay McCracken, Mick Barretto
<br /><br />
<h3><b>Overview:</b></h3><br /> For the past decade, we have been exploring the potential for the studio-based learning (SBL) approach commonly used in architecture and fine arts education to be adapted for computing education. To support SBL, we have been developing the Online Studio-Based Learning Environment (OSBLE), a lightweight course management system with powerful and flexible features to support SBL, including team assignments, iterative peer review, and peer review assessment.<br />

<br /> <h3> <b>Training Videos:</b></h3>
To be posted. 
<h3><b>Publications:</b></h3>

<div id="publistdiv" class="publist">Loading publications...</div>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "osble";
    target_div = "publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>