
@{
    ViewBag.Title = "Prototype Walkthrough";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<a href=@Url.Action("Index", "Projects")><button style="background-color:#990000; border-color:#990000;" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to Projects</button></a>
<br /><br />
<h2>Prototype Walkthrough</h2>

<img src="/Content/Images/thumb-proto.png" /><br /><br />
<b>Funding source:</b><br />Hewlett Packard Technology for Teaching Award (no. U06TFH0033E), NSF CPATH Class I (no. 0721927)<br /><br />
<b>Project team:</b><br />Chris Hundhausen, Dana Fairbrother, Marian Petre (Open University, U.K.)
<br /><br />
<h3><b>Overview:</b></h3><br />In an undergraduate HCI course, we have been exploring a studio-based learning activity called the prototype walkthrough, in which a student project group simulates its evolving user interface prototype while a student audience member acts as a test user. The audience is encouraged to ask questions and provide feedback. We are performing a content analysis of a video corpus of prototype walkthroughs supported by two alternative forms of prototyping technology: simple art supplies and a computer-based low fidelity prototyping tool. <br /> 
<h3><b>Publications:</b></h3>

To be posted...