
@{
    ViewBag.Title = "WOZ Pro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<a href=@Url.Action("Index", "Projects")><button style="background-color:#990000; border-color:#990000;" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left"></span> Back to Projects</button></a>
<br /><br />
<h2>WOZ Pro</h2>

<img src="/Content/Images/thumb-woz.png" /><br /><br />
<b>Project team:</b><br />Anzor Balkar, Mohamed Nuur, Steve Trent, Chris Hundhausen
<br /><br />
<h3><b>Overview:</b></h3><br /> WOZ Pro (Wizard of Oz Prototyper) is a pen-based software environment that supports the quick and easy creation and testing of low fidelity user interface prototypes. WOZ Pro is designed to be as easy to use as pen-and-paper, but to hold key advantages over pen-and-paper and existing computer-based tools. When designing interface screens in WOZ Pro, designers can easily (a) propagate a design change to other related screens, and (b) specify the set of screens that are reachable from a given screen. In a wizard of oz test, WOZ Pro reduces the cognitive load on the wizard by allowing navigation only to those next screens that are valid.
<h3><b>Publications:</b></h3>

<div id="publistdiv" class="publist">Loading publications...</div>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "woz";
    target_div = "publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>