@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>The <b>Human-centered Environments for Learning and Programming (HELP) Lab</b> at <a href="http://wsu.edu" target="_blank">Washington State University </a><span class="glyphicon glyphicon-new-window"></span> performs research at the intersection of human-computer interaction and education. Using the diverse methods of human-computer interaction, we design and empirically evaluate computer technologies and pedagogical approaches that help undergraduate students learn within the domains of engineering and computer science.</p>

<p>Because many of our members are computer scientists by training, The HELP Lab has a particular interest in developing technologies and pedagogical approaches for learning, discussing, and building learning communities around computer programming.<img style="float: left; padding: 10px 10px 10px 10px;"  width="400" height="236" src="/Content/Images/about-pic1.jpg" />Our long-standing ALVIS project, and our more recent projects on studio-based learning and blind programming, are indicative of this emphasis. We also have active projects within the domains of chemical engineering education and human-computer interaction education.</p>

<p> 
   Our projects focus on two core research questions:<br />

    <br /><img style="float: right; padding: 5px 5px 5px 5px;" src="/Content/Images/about-pic2.jpg" /> <b>1)</b> How can we design effective learning technologies and accompanying pedagogical approaches to help students solve problems, develop “soft” skills (e.g., communication and teamwork skills), build vibrant learning communities, and understand complex phenomena?
    <br /><b>2)</b> What is the role and value of such technologies and pedagogical approaches in promoting learning, problem-solving, “soft” skills, community-building, and understanding?
    <br /><br />To explore these and related questions, we are firmly committed to <b>user-centered</b> and <b>empirically-driven</b> approaches drawn from the field of human-computer interaction. Empirical studies involving representative users lie at the center of our research, serving to inform and drive our efforts to understand how humans use and interact with learning technologies. Ultimately, we endeavor to use the insights gained through such studies to help students learn more effectively.

</p>
