
@{
    //TO DO: Make this Javascript code here A LOT shorter! 
    ViewBag.Title = "Publications";
}

<h2>Publications</h2>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
Filter Publications:
<select id="filter" data-bind="options: displays, value:selectedDisplay">
    <option value="Show All Publications">Show All Publications</option>
    <option value="Algorithm Visualization">Algorithm Visualization</option>
    <option value="ALVIS">ALVIS</option>
    <option value="Blind Programming">Blind Programming</option>
    <option value="ChemProV">ChemProV</option>
    <option value="OSBIDE">OSBIDE</option>
    <option value="OSBLE/OSBLE+">OSBLE/OSBLE+</option>
    <option value="Prototype Walkthrough">Prototype Walkthrough</option>
    <option value="Studio Based Learning">Studio Based Learning</option>
    <option value="WOZ">WOZ</option>
</select>

<div id="publistdiv" class="publist" data-bind="visible:selectedDisplay()=='Show All Publications'">Loading publications...</div>
<div id="alvis-publistdiv" class="publist" data-bind="visible:selectedDisplay()=='ALVIS'">Loading publications...</div>
<div id="algovisual-publistdiv" class="publist" data-bind="visible:selectedDisplay()=='Algorithm Visualization'">Loading publications...</div>
<div id="blindprogram-publistdiv" class="publist" data-bind="visible:selectedDisplay()=='Blind Programming'">Loading publications...</div>
<div id="chemprov-publistdiv" class="publist" data-bind="visible:selectedDisplay()=='ChemProV'">Loading publications...</div>
<div id="osbide-publistdiv" class="publist" data-bind="visible:selectedDisplay()=='OSBIDE'">Loading publications...</div>
<div id="osble-publistdiv" class="publist" data-bind="visible:selectedDisplay()=='OSBLE/OSBLE+'">Loading publications...</div>
<div id="protowalk-publistdiv" class="publist" data-bind="visible:selectedDisplay()=='Prototype Walkthrough'">Loading publications...</div>
<div id="sbl-publistdiv" class="publist" data-bind="visible:selectedDisplay()=='Studio Based Learning'">Loading publications...</div>
<div id="woz-publistdiv" class="publist" data-bind="visible:selectedDisplay()=='WOZ'">Loading publications...</div>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "alvis";
    target_div = "alvis-publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "algorithm-visualization";
    target_div = "algovisual-publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "blind-programming";
    target_div = "blindprogram-publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "chemprov";
    target_div = "chemprov-publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "osbide";
    target_div = "osbide-publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>


<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "osble";
    target_div = "osble-publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "protowalk";
    target_div = "protowalk-publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "sbl";
    target_div = "sbl-publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>

<script src="http://publicationslist.org/data/helplab/publist.js"></script>
<script>
    tag_filter = "woz";
    target_div = "woz-publistdiv";
</script>
<script src="http://publicationslist.org/embed.js"></script>

<script type="text/javascript">
    var vm = { selectedDisplay: ko.observable(), displays: ['Show All Publications', 'Algorithm Visualization', 'ALVIS', 'Blind Programming', 'ChemProV', 'OSBIDE', 'OSBLE/OSBLE+', 'Prototype Walkthrough', 'Studio Based Learning', 'WOZ'] }; ko.applyBindings(vm);
</script> 