
@{
    ViewBag.Title = "Team Members";
}

<h2>Current Team Members</h2>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#chris_hundhausen">Chris Hundhausen</a></h3><i> Founder and Director</i></div>
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#dan_olivares">Daniel Olivares</a></h3><i>Ph.d Candidate</i></div>
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#carla_delira">Carla de Lira</a></h3><i>Ph.d Student</i></div>
    </div>

    <div class="row">
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#dan_jinguji">Dan Jinguji</a></h3><i>Ph.d Student</i></div>
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#jacob_sadoian">Jacob Sadoian</a></h3><i>Undergraduate Student</i></div>
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#courtney_snyder">Courtney Snyder</a></h3><i>Undergraduate Student</i></div>
    </div>

    <div class="row">
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#christian_francisco">Christian Francisco</a></h3><i>Undergraduate Student</i></div>
    </div>

    <h2>Past Members</h2>
    <ul>
        <li>Adam Carter '16 - Assistant Professor at CSU Humboldt [<a>thesis</a>]</li>
        <li> Elliot Lawerance - </li>
        <li>Nathan Velaborja - </li>
        <li>Anu Agrawal [<a>thesis</a>]</li>
        <li>Pawan Agarwal [<a>thesis</a>]</li>
        <li>Cole Nevins [<a>thesis</a>]</li>
        <li>Andreas Stefik [<a>thesis</a>]</li>
        <li>Jonathan Brown [<a>thesis</a>]</li>
        <li>Sean Farley [<a>thesis</a>]</li>
    </ul>


</div>

<div id="chris_hundhausen" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chris Hundhausen</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="dan_olivares" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Daniel Olivares</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="carla_delira" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Carla De Lira</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="dan_jinguji" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dan Jinguji</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="jacob_sadoian" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Jacob Sadoian</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="courtney_snyder" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Courtney Snyder</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="christian_francisco" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Christian Francisco</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

