
@{
    ViewBag.Title = "Team Members";
}

<h2>Current Team Members</h2>
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#chris_hundhausen">Chris Hundhausen</a></h3><i> Founder and Director</i></div>
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#dan_olivares">Daniel Olivares</a></h3><i>Ph.d Candidate</i></div>
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#carla_delira">Carla de Lira</a></h3><i>Ph.d Student</i></div>
    </div>

    <div class="row">
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#dan_jinguji">Dan Jinguji</a></h3><i>Ph.d Student</i></div>
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#jacob_sadoian">Jacob Sadoian</a></h3><i>Undergraduate Student</i></div>
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#courtney_snyder">Courtney Snyder</a></h3><i>Undergraduate Student</i></div>
    </div>

    <div class="row">
        <div class="col-sm-4" style=""><img src="/Content/Images/avatar1.png" /><h3><a data-toggle="modal" data-target="#christian_francisco">Christian Francisco</a></h3><i>Undergraduate Student</i></div>
    </div>

    <h2>Past Members</h2>
    <ul>
        <li>Adam Carter '16- Assistant Professor at CSU Humboldt [<a>thesis</a>]</li>
        <li>Elliot Lawerance '16 [<a>resume</a>]</li>
        <li>Nathan Velaborja '17 [<a>resume</a>]</li>
        <li>Carson Tolleshaug '15 [<a>resume</a>]</li>
        <li>AJ Arrott '15 [<a>resume</a>]</li>
        <li>Anu Agrawal [<a>thesis</a>]</li>
        <li>Pawan Agarwal [<a>thesis</a>]</li>
        <li>Cole Nevins [<a>thesis</a>]</li>
        <li>Andreas Stefik [<a>thesis</a>]</li>
        <li>Jonathan Brown [<a>thesis</a>]</li>
        <li>Sean Farley [<a>thesis</a>]</li>
    </ul>


</div>

<div id="chris_hundhausen" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Chris Hundhausen</h2>
            </div>
            <div class="modal-body">
                <h3> Founder and Director of HELP Lab</h3><br />
                <p><img src="/Content/Images/avatar1.png" style="float: left; padding: 2px 2px 2px 2px;" />Recipient of both a Fulbright Grant and a National Science Foundation
                    CAREER Award, Christopher Hundhausen is founder and director of the
                    Human-centered Environments for Learning and Programming (HELP) Lab at
                    Washington State University. His research applies the methods of
                    human-computer interaction to the design and empirical evaluation of
                    software environments and pedagogical approaches to improve learning and
                    retention in undergraduate computer science and engineering education.
                    Dr. Hundhausen has established himself as an international leader in the
                    field of algorithm visualization, which explores technology and
                    pedagogical approaches that enhance human understanding of computer
                    algorithms.</p>
                <br />
                <b>E-mail: </b><a href="mailto:hundhaus@wsu.edu">hundhaus@wsu.edu</a>
                <br /><b>Office:</b> EME 231
                <br /><b>Voice:</b>(509) 335-4590
                <br /><b>Fax:</b>(509) 335-3818
                <br /><b>Personal Website:</b> 
                <br /><b>Curriculum Vitae: <a>.PDF</a></b>

                <br /><a><img src="/Content/Images/github.png" style="padding:2px 2px 2px 2px; " /></a><a><img src="/Content/Images/linkedin.png" /></a>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<div id="dan_olivares" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Daniel Olivares</h2>
            </div>
            <div class="modal-body">
                <h3> Ph.d Candidate</h3><br />
                <p>
                    <img src="/Content/Images/avatar1.png" style="float: left; padding: 2px 2px 2px 2px;" />Biography not available. 
                </p>
                <br />
                <b>E-mail: </b><a href="mailto:daniel.olivares@wsu.edu "> daniel.olivares@wsu.edu</a>
                <br /><b>Office:</b> EME 231
                <br /><b>Personal Website:</b>
                <br /><b>Curriculum Vitae: <a>.PDF</a></b>
                <br />
                <br /><a><img src="/Content/Images/github.png" style="padding:2px 2px 2px 2px; " /></a><a><img src="/Content/Images/linkedin.png" /></a>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="carla_delira" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Carla De Lira</h2>
            </div>
            <div class="modal-body">
                <h3> Ph.d Student</h3><br />
                <p>
                    <img src="/Content/Images/avatar1.png" style="float: left; padding: 2px 2px 2px 2px;" />Biography not available.
                </p>
                <br />
                <b>E-mail: </b><a href="mailto:carla.delira@wsu.edu"> carla.delira@wsu.edu</a>
                <br /><b>Office:</b> 
                <br /><b>Personal Website:</b>
                <br /><b>Curriculum Vitae: <a>.PDF</a></b>
                <br />
                <br /><a><img src="/Content/Images/github.png" style="padding:2px 2px 2px 2px; " /></a><a><img src="/Content/Images/linkedin.png" /></a>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
       
        </div>

    </div>
</div>

<div id="dan_jinguji" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Dan Jinguji</h2>
            </div>
            <div class="modal-body">
                <h3> Ph.d Student</h3><br />
                <p>
                    <img src="/Content/Images/avatar1.png" style="float: left; padding: 2px 2px 2px 2px;" />Biography not available.
                </p>
                <br />
                <b>E-mail: </b><a href="mailto:dan.jinguji@wsu.edu"> dan.jinguji@wsu.edu</a>
                <br /><b>Office:</b> 
                <br /><b>Personal Website:</b>
                <br /><b>Curriculum Vitae: <a>.PDF</a></b>
                <br />
                <br /><a><img src="/Content/Images/github.png" style="padding:2px 2px 2px 2px; " /></a><a><img src="/Content/Images/linkedin.png" /></a>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
           
        </div>

    </div>
</div>

<div id="jacob_sadoian" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Jacob Sadoian</h2>
            </div>
            <div class="modal-body">
                <h3> Undergraduate Student</h3><br />
                <p>
                    <img src="/Content/Images/avatar1.png" style="float: left; padding: 2px 2px 2px 2px;" />Biography not available.
                </p>
                <br />
                <b>E-mail: </b><a href="mailto:jacob.sadoian@wsu.edu">jacob.sadoian@wsu.edu</a>
                <br /><b>Office:</b>
                <br /><b>Personal Website:</b>
                <br /><b>Curriculum Vitae: <a>.PDF</a></b>
                <br />
                <br /><a><img src="/Content/Images/github.png" style="padding:2px 2px 2px 2px; " /></a><a><img src="/Content/Images/linkedin.png" /></a>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="courtney_snyder" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Courtney Snyder</h2>
            </div>
            <div class="modal-body">
                <h3> Undergraduate Student</h3><br />
                <p>
                    <img src="/Content/Images/avatar1.png" style="float: left; padding: 2px 2px 2px 2px;" />Biography not available.
                </p>
                <br />
                <b>E-mail: </b><a href="mailto:courtney.d.synder@wsu.edu">courtney.d.synder@wsu.edu</a>
                <br /><b>Office:</b>
                <br /><b>Personal Website:</b>
                <br /><b>Curriculum Vitae: <a>.PDF</a></b>
                <br />
                <br /><a><img src="/Content/Images/github.png" style="padding:2px 2px 2px 2px; " /></a><a><img src="/Content/Images/linkedin.png" /></a>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="christian_francisco" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Christian Francisco</h2>
            </div>
            <div class="modal-body">
                <h3> Undergraduate Student</h3><br />
                <p>
                    <img src="/Content/Images/avatar1.png" style="float: left; padding: 2px 2px 2px 2px;" />Biography not available.
                </p>
                <br />
                <b>E-mail: </b><a href="mailto:christian.francisco@wsu.edu">christian.francisco@wsu.edu</a>
                <br /><b>Office:</b>
                <br /><b>Personal Website:</b>
                <br /><b>Curriculum Vitae: <a>.PDF</a></b>
                <br />
                <br /><a><img src="/Content/Images/github.png" style="padding:2px 2px 2px 2px; " /></a><a><img src="/Content/Images/linkedin.png" /></a>
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

