
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Opportunities</h2>

<h3>Research Opportunities</h3>
<p>HELP is always seeking computer science educators, open-source software developers, and HCI researchers to collaborate with us. Please contact <a href="mailto:hundhaus@wsu.edu">Chris Hundhausen</a> if you are interested.</p>
<h3>Undergraduate and Graduate Research Assistantships</h3>
<p>HELP is always looking for qualified undergraduate and graduate students with interests in human-computer interaction and GUI programming, and funded positions do open up from time to time.
For an update on available positions, please contact <a href="mailto:hundhaus@wsu.edu">Chris Hundhausen</a>.</p>
